# TEMPLATE for YAML file of config to set connection to db and other settings
# Create a new file as config.yml ignored by git

db_parameters:
  dbhost: 'localhost'
  dbuser: 'root'
  dbpwd: 'password'
  dbname: 'database'

pwd_passepartout:
  pwd1: 'password1'
  pwd2: 'password2'
  
dictionary:
  class: 'IrideWeb\Core\IWTranslator'
  default_language: en
  available_language: ['en', 'it']

cache:
  tipo_cache: 'Global'

mail:
  host: 'smtp.example.com'
  username: 'info@example.com'
  password: 'automaticmail'
  port: 25,
  force_receiver: ''
  standard_from: ''
  disable_send: 0

modules:
  - { name: "AppModule" }

# Facultative configuration about factory of classes, if you want to extend the below default configuration
factory:
  kernel: 'IrideWeb\IWKernel'
  index: 'IrideWeb\IWIndex',
  no_access: 'IrideWeb\IWNoAccess'
  users: 'Path\to\UsersTable'